<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head'); %>
<body class="container">
   <%- include ('../partials/header'); %>
   <main>
      <div class="bg-secondary">
         <h1>node com ejs</h1>
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus, quidem!</p>
         <p> <%= subtitle %></p>
      </div>

      <ul>
         <% qualitys.forEach(function(quality){ %>
            <li><strong><%= quality.title %></strong> <%= quality.message %></li>
        <% }) %>
         
      </ul>
   </main>
   <%- include ('../partials/footer'); %>
</body>
</html>